#nama {
    align-items: left;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

#list {
    font-family: sans-serif;
}

body {
    background: linear-gradient(to left, rgb(190, 93, 13), rgba(197, 91, 5, 0.705));
}
